<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Country</title>
</head>
<body>
<h1> Country Create </h1>
<p>
    <a href="/country"> Country List </a>
</p>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:object="${country}" th:action="@{/country-create}" method="post">
    <fieldset>
        <legend> Create Country</legend>
        <td>Name:</td>
        <label><input type="text" th:field="*{name}"></label>
        <th>
            <input type="submit" value="Save">
        </th>
    </fieldset>
</form>
</body>
</html>